<ion-header mode="md">
  <ion-toolbar>
    <i class="ic ic-action ion-margin-start" slot="start" (click)="goBack()">arrow_back</i>
    <ion-title>
      <label class="ion-text-capitalize" *ngIf="patient">Add Visit for {{ patient.firstName }} {{ patient.lastName }}</label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input class="ion-margin-top" label="Complaint" label-placement="floating" placeholder="Complaint"
      [(ngModel)]="history.complaints"></ion-input>
  </ion-item>
  <div class="chip-container ion-margin-horizontal" *ngIf="complaintChips && complaintChips.length > 0">
    <ion-chip class="chip" *ngFor="let chip of complaintChips" [outline]="true" (click)="addComplaint(chip)">{{chip.fieldName}}</ion-chip>
  </div>
  <ion-item>
    <ion-input class="ion-margin-top" label="Treatment" labelPlacement="floating" placeholder="Treatment"
      [(ngModel)]="history.treatment"></ion-input>
  </ion-item>
  <div class="chip-container ion-margin-horizontal" *ngIf="treatChips && treatChips.length > 0">
    <ion-chip class="chip" *ngFor="let chip of treatChips" [outline]="true" (click)="addTreatment(chip)">{{chip.fieldName}}</ion-chip>
  </div>
  <ion-item>
    <ion-input class="ion-margin-top" label="Investigation" labelPlacement="floating" placeholder="Investigation"
    [(ngModel)]="history.investigation"></ion-input>
  </ion-item>
  <div class="chip-container ion-margin-horizontal" *ngIf="investChips && investChips.length > 0">
    <ion-chip class="chip" *ngFor="let chip of investChips" [outline]="true" (click)="addInvestigation(chip)">{{chip.fieldName}}</ion-chip>
  </div>
  <ion-grid class="extra-fields-container">
    <ion-row>
      <ion-col size="6" *ngFor="let ef of extraFields">
         <ion-item>
          <ion-input [label]="ef.fieldName" [type]="ef.fieldType" labelPlacement="floating"
          [placeholder]="ef.fieldName" [(ngModel)]="ef.fieldValue"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-input label="Fees" type="number" labelPlacement="floating"
          placeholder="Fees" [(ngModel)]="history.fees"(input)="onFeeChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
          <ion-toggle labelPlacement="stacked" [(ngModel)]="history.feesPaid" (ionChange)="onFeePaidChange()">Fee Paid</ion-toggle>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-input label="Amount paid"  type="number" labelPlacement="floating"
          placeholder="Paid" [(ngModel)]="history.amountPaid" [disabled]="!history.feesPaid"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <ion-button class="form-button" (click)="addHistory()">Save</ion-button>
  <ion-button fill="clear" class="form-button" (click)="clearForm()">Clear</ion-button>
</ion-content>