<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" mode="ios">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Patinets</ion-card-title>
      <ion-card-subtitle>Patients report at glance.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="6" *ngFor="let cnt of counts">
          <div class="count-block">
            <label class="count">{{cnt.patientCount}}</label>
            <label class="label">{{cnt.label}}</label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Last 10 Patients</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let pat of patinets">
      <ion-label>{{pat.firstName}} {{pat.lastName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>