.med-table {
    width: 100%;
    font-weight: lighter;
    font-size: 0.8em;
}

.text-big {
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
    font-size: 0.8em;
}

.small-text {
    font-weight: lighter;
    font-size: 0.8em;
}