.detail-row {
    text-transform: capitalize;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0px;

    .label {
        font-weight: bold;
    }

    .detail {
        text-align: right;
    }
}