<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <i class="ic ic-action ion-margin-end" slot="end" (click)="signOut()">logout</i>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-card  mode="ios" *ngIf="user">
    <ion-card-header class="ion-text-capitalize">
      <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
      <ion-card-subtitle>{{user.clinic.clinicName}} , {{user.clinic.address}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-capitalize">
      <p *ngIf="user.mobileNo && user.mobileNo != ''">Mobile no : {{user.mobileNo}}</p>
      <p *ngIf="user.email && user.email != ''">Email : {{user.email}}</p>
    </ion-card-content>
  </ion-card>
  <ion-list [inset]="true" mode="ios">
    <ion-list-header>
      <ion-label>Extra Fields</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let option of extraFiledsOptions">
      <ion-label class="ion-icon">{{option.name}}
        <i class="ic ic-action ion-float-right" (click)="manageExtraFileds(option.type)">tune</i>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-list-header>
      <ion-label>Tags</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let option of tagsOptions">
      <ion-label class="ion-icon">{{option.name}}
        <i class="ic ic-action ion-float-right" (click)="manageTags(option.type)">tune</i>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list [inset]="true" mode="ios">
    <ion-list-header>
      <ion-label>Account</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-icon">Personal Details<i class="ic ic-action ion-float-right">tune</i></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-icon">Hospital Details<i class="ic ic-action ion-float-right">tune</i></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-icon">App Users<i class="ic ic-action ion-float-right">tune</i></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-icon">Change Password<i class="ic ic-action ion-float-right">tune</i></ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>