<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Smart Opd</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-top ion-padding-top">
    <i class="ic ic-big ion-margin-top">info</i>
    <h2>Your account has been expired.</h2>
    <h4>Please call on <a href="tel:+919421996243">+91 94219 96243</a> for activation.</h4>
    <h1>OR</h1>
    <h4><a href="whatsapp://send?text=Hello World!&phone=+919421996243">Chat on WhatsApp</a></h4>
  </div>
</ion-content>
