<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ipd">
      <i class="ic">ward</i>
    </ion-tab-button>
    <ion-tab-button tab="patients">
      <i class="ic">personal_injury</i>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <i class="ic">dashboard</i>
    </ion-tab-button>
    <ion-tab-button tab="reports">
      <i class="ic">query_stats</i>
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <i class="ic">settings</i>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
  <ion-toast
    [isOpen]="modelService.showToast"
    [message]="modelService.toastMessage"
    position="top"
    [class]="modelService.toastClass"
    positionAnchor="header"
    [duration]="5000"></ion-toast>

<ion-loading mode="ios" [isOpen]="modelService.loading" message="Loading"></ion-loading>